In [1]:
import pandas as pd

In [2]:
religion_df = pd.read_csv('data/pew-raw.csv')

In [3]:
religion_df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [18]:
formatded_df = pd.melt(religion_df, id_vars=['religion'], 
                     var_name='income', 
                    value_name='freq')
formatded_df = formatded_df.sort_values(by=["religion"])
formatded_df.head(9)

    religion    income  freq
0   Agnostic     <$10k    27
30  Agnostic   $30-40k    81
40  Agnostic   $40-50k    76
50  Agnostic   $50-75k   137
10  Agnostic   $10-20k    34
20  Agnostic   $20-30k    60
41   Atheist   $40-50k    35
21   Atheist   $20-30k    37
11   Atheist   $10-20k    27

In [12]:
ids = formated_df.groupby('religion')['freq'].transform(max) == formated_df['freq']

In [20]:
billboard = pd.read_csv('data/billboard.csv',  encoding="mac_latin2")

In [21]:
billboard

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Melting
id_vars = ["year","artist.inverted","track","time","genre","date.entered","date.peaked"]
df = pd.melt(frame=billboard,id_vars=id_vars, var_name="week", value_name="rank")

In [27]:
df # This dataset is not tidy due to redundant infromation about rank & song attributes. Breaks the 'Each type of observational units. Breaks the 'Each type of observational unit forms a table' principle

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...,...,...
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [29]:
song_cols = ['year', 'artist.inverted', 'track', 'time', 'genre']
songs = df[song_cols].drop_duplicates()
songs = songs.reset_index(drop=True)
songs['song_id'] = songs.index

In [30]:
songs

,year,artist.inverted,track,time,genre,song_id
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,0
1,2000,Santana,"Maria, Maria",4:18,Rock,1
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,2
3,2000,Madonna,Music,3:45,Rock,3
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,4
...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,312
313,2000,"Smith, Will",Freakin' It,3:58,Rap,313
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,314
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,315
316,2000,Fragma,Toca's Miracle,3:22,R&B,316

In [33]:
ranks = pd.merge(df, songs, on =['year', 'artist.inverted', 'track', 'time', 'genre'])
#ranks = ranks[['song_id', 'date', 'rank']]
ranks

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,song_id
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0,0
1,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x2nd.week,63.0,0
2,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x3rd.week,49.0,0
3,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x4th.week,33.0,0
4,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x5th.week,23.0,0
...,...,...,...,...,...,...,...,...,...,...
24087,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x72nd.week,NaN,316
24088,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x73rd.week,NaN,316
24089,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x74th.week,NaN,316
24090,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x75th.week,NaN,316
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN,316